body {
  height: 95vh; /*viel height*/
  width: 95;
  display: flex;
  /*alinhar vertical*/
  justify-content: center;
  /*alinhar horizontal*/
  align-items: center;
  /*alinhar itens um abaixo do outro*/
  flex-direction: column;
}

.container {
  font-family: 'Tajawal', sans-serif;
 
}

#bem-vindo {
  font-size: 2.4rem;
  font-weight: 800;
}
#lose {
  font-size: 3rem;
  color: white;
  background-color: rgb(255, 102, 97);
  display: none;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 512px;
  cursor: pointer;
}

.tutorial {
  display: none;
}

#bem-vindo:hover + .tutorial {
  display: block;
  color: rebeccapurple;
}
